<style>
*{margin: auto; }


body{background-image:url(https://img.freepik.com/vector-gratis/conjunto-logotipos-criptomonedas-populares_69286-369.jpg);}
h1{background-color: white;text-align: center;}

p{background-color: white;text-align: center;}

img{image-orientation: center;}